<%= form_for @list, :url => {:controller => :lists, :action => :update, :method => :patch} do |f| %>
<div class="form-group form-control">
	<%= f.label :title %>
	<%= f.text_field :title %>	
</div>
<div class="form-group form-control">
	<%= f.label :due %>
	<%= f.text_field :due %>
</div>
<div class="form-group form-control">
	<%= f.label :notes %>
	<%= f.text_area :notes %>
</div>
<%= f.submit "Update" %>
<a href=<%=lists_path %>><button>cancel</button></a>
<% end %>

<% if @list.errors.present? %>
<ul>
	<% @list.errors.each do |error, message| %>
	<li>
		<%= "#{error.capitalize} #{message}" %>
	</li>
	<% end %>
</ul>
<% end %>
