<div class="container form">
	<%= form_for @list, :url => {:controller => :lists, :action => :update, :method => :patch} do |f| %>
	<div class="form-group ">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>	
	</div>
	<div class="form-group">
		<%= f.label :due %>
		<%= f.text_field :due, class: "form-control" %>
	</div>
	<div class="form-group">
		
		<%= f.label :notes %>
	
		<%= f.text_area :notes, class: "form-control" %>

	</div>
	<div class=" form">
		<a href=<%=lists_path %>><button>cancel</button></a>
		
		<%= f.submit "Update", class:"float-right" %>
	</div>
	<% end %>
</div>

<% if @list.errors.present? %>
<ul>
	<% @list.errors.each do |error, message| %>
	<li>
		<%= "#{error.capitalize} #{message}" %>
	</li>
	<% end %>
</ul>
<% end %>


