<div class = "list_show container">
<table>
	<% if @lists.count == 0 %>
		<tr>
			<th>There is nothing in list</th>
		</tr>

		<tr>
			<td>
			<%= link_to 'Make a new notes', new_list_path %>
			</td>
		</tr>
	<% else %>
		<tr>
			<th>title</th>
			<th>due_date</th>
			<th>status</th>
			
		</tr>
		<% @lists.each do |l|%>
			<tr>
				<td><%= l.title %></td>
				<td><%= l.due %></td>
				<td>
					<a href= <%= list_path(l) %>> 
							0%
					</a>
				</td>

				
			</tr>
		<% end %>
		<tr>
			<td><a href= <%= new_list_path %>><button>make a new notes</button></a></td>
		</tr>
	<% end %>
</table>
<div class="notes_list">
	<% if @select.params == 0 %>
		<hr>
	<%elsif @list.notes != nil %>
		<hr>

		<table>
			<tr>
				<th>Notes</th>
				
			</tr>
			<% e = @list.notes %>
			<% e.each do |f| %>
				<tr>

					<td><%= f %></td>
					<td>
						<input type = "checkbox">
					</td>
			
				</tr>
			<% end %>
			<% if @time.year <= (@list.due).year %>
				<% if @time.month <= (@list.due).month %>
					<% if @time.day <= (@list.due).day %>
						<tr>
							<td>

								<a class = "btn" href= <%= edit_list_path(@list) %>><button>Edit</button></a>
								
								<a class = "btn" href= <%= list_path(@list) %> data-confirm = "Are you sure?" data-method = "delete" rel = "nofollow"><button>delet</button></a>
							</td>
						</tr>
					<%else %>
						<tr>
							<td>
								<h2>out of due time !</h2>
							</td>
						</tr>
					<% end %>
				<%else %>
					<tr>
						<td>
							<h2>out of due time !</h2>
						</td>
					</tr>
				<% end %>
			<%else %>
				<tr>
					<td>
						<h2>out of due time !</h2>
					</td>
				</tr>
			<% end %>
		</table>
		
	<% else %>
		<hr>
		<h1>There is no notes please edit it!</h1>
	<% end %>
</div>

<div class="status_form">
	<form action = <%= list_path(@list)%> method = "post">
		<label for = "status">stasus</label>
		<% 1..(@list.notes).count do %>
		<input type="checkbox" name="status">
		<% end %>
		<button type="submit">check</button>
	</form>
	
</div>

