<div id = "banner" class="container navbar-fixed-top">
	<div id = "left" class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="logo">
			<h1>To do List !</h1>
		</div>
		
	</div>
	<div id = "right" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="make-new-button">
			<%= link_to 'Make a new notes', new_list_path %>
		</div>
		
	</div>
</div>

<div class = "container list-show">
<table class="table-striped col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<% if @lists.count == 0 %>
		<tr>
			<th>There is nothing in list</th>
		</tr>

		
	<% else %>
		<tr>
			<th>title</th>
			<th>due_date</th>
			<th>status</th>
			
		</tr>
		<% a_count = 0 %>
		<% @lists.each do |l|%>
			
			<tr>
				<td><%= l.title %></td>
				<td><%= l.due %></td>
				<td>
					<a href= <%= list_path(l) %>> 
							<%= @complete_array[a_count]%> %
					</a>
					<% a_count += 1%>
				</td>

				
			</tr>
		<% end %>
		
	<% end %>
</table>
</div>

<div class="notes_list container ">
		<% if @select.params == 0 %>
			<hr>
		<%elsif @list.notes != nil %>
			<hr>

			<table class="table-striped notes-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<% if @sum > 0 %>

					<tr>
						<td>
							<a class = "btn" href= <%= edit_list_path(@list) %>><button>Edit</button></a>
									
							<a class = "btn" href= <%= list_path(@list) %> data-confirm = "Are you sure?" data-method = "delete" rel = "nofollow"><button>delet</button></a>
								</td>
							</tr>
				<%else %>
					<tr>
						<td>
							<h2>out of due time !</h2>
						</td>
					</tr>
				<% end %>
				
			</table>
			
		<% else %>
			<hr>
			<h1>There is no notes please edit it!</h1>
		<% end %>
	</div>
<div class="container">
	<% if @list != nil %>
		<div id = "status-check-box">
			<%= form_for @list do |f| %>
				
				<%= f.label :notes %>
				<%for i in 0..((@list.notes).count-1) %>
					
					<% if @list.status[i] != true %>	
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left">
							<input type="checkbox" name ="status[]" value = <%=i%>><%=@list.notes[i]%>
								
						</div>
					<%else %>
					<p><%= @list.notes[i] %></p>
					<% end %>
					

				<% end %>
				<!--上面內容等於
					<% for i in 0..((@list.notes).count-1) %>
						<%= f.check_box_tag "status[]",i %><%= (@list.notes)[i] %> 
					-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-btn-right">
						<%= f.submit "Check" %>
				</div>			
				
				
			<% end %>
		</div>
	<% end %>


</div>








	


